*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    overflow-x:hidden;
    font-family:Arial,sans-serif;

    background:
    linear-gradient(
    180deg,
    #ffb6c1,
    #ffd6e0
    );

    color:#4a235a;
}

.container{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.screen{
    display:none;
    width:100%;
    max-width:700px;
}

.screen.active{
    display:block;
}

h1,h2{
    margin-bottom:20px;
}

button{

    padding:18px 40px;

    border:none;

    border-radius:999px;

    cursor:pointer;

    background:white;

    font-size:18px;

    font-weight:bold;
}

.flower-grid{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:25px;

    margin-top:25px;
}

.flower{

    font-size:70px;

    cursor:pointer;

    transition:.3s;
}

.flower:hover{
    transform:scale(1.15);
}

.special{

    animation:pulse 1.5s infinite;
}

.message{

    background:
    rgba(255,255,255,.5);

    padding:25px;

    border-radius:20px;

    line-height:1.8;
}

.special-text{

    margin:15px 0;

    font-size:1.3rem;

    color:#d63384;
}

#countdown{

    margin-top:25px;

    font-size:1.3rem;

    font-weight:bold;
}

.secret{

    margin-top:30px;

    font-size:1.2rem;
}

.tomorrow{

    margin-top:20px;
}

@keyframes pulse{

    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}